/* Universal Selector */
* {
    font-family: Verdana, sans-serif;
}

/* Element Selector */
p {
    color: black;
    font-size: 16px;
}

/* Element Selector */
  h6{
    color: purple;
    text-align: center;
}
/* Background for body */
body {
    background-color: #f0f8ff;
    text-align: left;
}
